<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- mybatis 框架主配置文件：使用mybatis必须要有 -->
  <!-- typeAliase:别名 -->
  <typeAliases>
		<typeAlias type="com.hzblog.bean.stock.StockBaseInfo"  alias="StockBaseInfo"/>
  </typeAliases>
	
	<mappers>
		<mapper resource="mybatis/model/Student.xml"  />
	</mappers>

</configuration>